* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
#todo {
  height: auto;
}
header {
  background-color: #222831;
  text-align: center;
}
header a {
  animation-duration: 1.5s;
  animation-name: colores;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colores {
  from {
    color: #00ffff;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
  }

  to {
    color: #ff0055;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
header a:hover {
  animation-play-state: paused;
}
div {
  background-color: #38414e;
  font-size: 1.2rem;
}
#lateral {
  background-color: #222831;
  text-align: center;
  padding: 50px 100px;
}
#cajas{
  color: whitesmoke;
}
footer {
  text-align: center;
  color: whitesmoke;
  background-color: #222831;
  padding: 20px 0;
}
.contenedor {
  width: 99%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  display: none;
}
#resultado {
  transition: all 0.4 ease-in-out;
}
#tipo_tar{
  transition: all 0.4 ease-in-out;
}
.res {
  color: whitesmoke;
  width: 99%;
  line-height: 25px;
  padding: 10px;
  margin: 10px;
}
#resultado, #encuesta{
  color: whitesmoke;
}
img{
  cursor: pointer;
}
#myModal{
  background-color: rgba(0,0,0, 0.5) !important;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagen-port {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(194, 93%, 44%, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(0, 93%, 44%, 0.623);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img {
  width: 100px;
}
.hover-galeria p {
  color: #fff;
}
.imagen-port:hover .hover-galeria,
.imagen-port:hover .not {
  transform: scale(1);
}
.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.VistaPrevia{
  width: 950px;
  height: 630px;
}
#Vista_Previa_Img{
  float: initial;
}
#nombre_envia_caja{
  position: absolute;
  top: 1050px;
  left: 200px;

}
#saludo_texto_caja{
  position: absolute;
  top: 1120px;
  left: 200px;
}
#cuerpo_texto_caja{
  position: absolute;
  top: 1200px;
  left: 200px;
}
#Vista_Previa_Img1{
  float: initial;
}
#nombre_envia_caja1{
  position: absolute;
  top: 168px;
  left: 380px;
}
#saludo_texto_caja1{
  position: absolute;
  top: 238px;
  left: 380px;
}
#cuerpo_texto_caja1{
  position: absolute;
  top: 318px;
  left: 380px;
}
#Tar_Fel_Caja{
  margin-left: 15%;
}


