<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejercicios</title>
    <link rel="stylesheet" href="css/EJS_3.css" type="text/css" />
    <!--Links de bootstrap-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="#">¡Javascript!</a></h1>
    </header>
    <div class="row container-fluid" id="todo">
      <aside id="lateral" class="col-sm-3">
        <select name="" id="temas">
          <option value="0" disabled>Seleccione...</option>
          <option value="cajas">Cajas</option>
          <option value="encuesta">Encuesta</option>
          <option value="nodos">Mesas</option>
          <option value="tarjeta">Tarjeta</option>
          <option value="encuestaPr">Programación encuesta</option>
          <option value="gimnasio">Gimnasio</option>
          <option value="cafeteria">Cafetería</option>
        </select>
      </aside>
      <div id="principal" class="col-sm-9">
        <article id="cajas" class="contenedor">
          <h3>Cajas</h3>
          <br />

          <input
            type="number"
            name=""
            id="numero"
            placeholder="Introduce el número de cajas"
          />
          <br />
          <br />
          <label for="">Selecciona el color de las cajas</label>
          <input
            type="color"
            name=""
            id="color"
            placeholder="Introduzca un color"
          />
          <br />
          <br />
          <label for="">Selecciona el borde de las cajas</label>
          <select id="borde">
            <option value="0" disabled>Seleccione...</option>
            <option value="dotted">dotted</option>
            <option value="dashed">dashed</option>
            <option value="solid">solid</option>
            <option value="double">double</option>
            <option value="groove">groove</option>
            <option value="ridge">ridge</option>
            <option value="inset">inset</option>
            <option value="outset">outset</option>
            <option value="none">none</option>
            <option value="hidden">hidden</option>
          </select>
          <br />
          <br />

          <input
            type="button"
            class="btn btn-info"
            value="Mostrar"
            onclick="mostrarCajas()"
          />
          <br />
          <br />
          <p id="resultado"></p>
        </article>

        <article id="encuesta" class="contenedor">
          <h3>Encuesta</h3>
          <br />
          <label for="">¿Qué lugar te gustaría visitar algún día?</label>
          <select name="" id="lugar">
            <option value="Tokyo">Tokyo</option>
            <option value="Paris">Paris</option>
            <option value="Roma">Roma</option>
          </select>
          <br />
          <br />
          <label for="">¿Qué has querido estudiar hace tiempo?</label>
          <select name="" id="estudiar">
            <option value="Desarrollador de videojuegos">
              Desarrollador de videojuegos
            </option>
            <option value="Cocina">Cocina</option>
            <option value="Ilustración digital">Ilustración digital</option>
          </select>
          <br />
          <br />
          <label for="">¿Qué siempre has querido aprender?</label>
          <select name="" id="aprender">
            <option value="Skate">Skate</option>
            <option value="Pintar con acuarelas">Pintar con acuarelas</option>
            <option value="Esculpir">Esculpir</option>
          </select>
          <br />
          <br />
          <label for="">¿Dónde es tu lugar ideal para vivir?</label>
          <select name="" id="vivir">
            <option value="Japón">Japón</option>
            <option value="Noruega">Noruega</option>
            <option value="Nueva Zelanda">Nueva Zelanda</option>
          </select>
          <br />
          <br />
          <label for="">¿Qué profesión te gustaría ejercer?</label>
          <select name="" id="profesión">
            <option value="Artista Conceptual">Artista Conceptual</option>
            <option value="Programador">Programador</option>
            <option value="Community manager">Community manager</option>
          </select>
          <br />
          <br />
          <input
            type="button"
            class="btn btn-info"
            value="Mostrar"
            onclick="mostrarEncuesta()"
          />
          <br />
          <br />
          <section id="resultado2"></section>
        </article>

        <article id="tarjeta" class="contenedor">
          <h3>Crea tu Tarjeta de Felicitación</h3>
          <br />
          <h3>Vista Previa</h3>
          <section id="VistaPrevia" class="VistaPrevia">
            <section>
              <section id="nombre_envia_caja">
                <p id="nombre_envia_texto"></p>
              </section>
              <section id="saludo_texto_caja">
                <p id="saludo_texto"></p>
              </section>
              <section id="Vista_Previa_Img">
                <img
                  src="img/fondo.jpg"
                  alt=""
                  id="Vista_Previa"
                  style="width: 750px; height: 800px; margin: 47px 5px"
                />
              </section>
              <section id="cuerpo_texto_caja">
                <p id="cuerpo_texto"></p>
                <br />
                <br />
              </section>
            </section>
          </section>
          <br />
          <hr />
          <h4>Elige un tema</h4>
          <select id="tipo_tar">
            <option value="0">Seleccione un tipo...</option>
            <option value="tarNav">Navideña</option>
            <option value="tarHall">Halloween</option>
            <option value="tarPro">Día del Programador</option></select
          ><br />
          <br />
          <input
            type="text"
            placeholder="Titulo"
            id="nombre_envia"
            style="width: 30rem"
            oninput="nombreEnvia()"
          /><input
            type="color"
            id="color_nombre_envía"
            oninput="nombreEnvia()"
          /><br /><br />
          <input
            type="text"
            placeholder="Subtitulo"
            id="saludo"
            style="width: 30rem"
            oninput="saludoTexto()"
          /><input
            type="color"
            id="color_saludo"
            oninput="saludoTexto()"
          /><br /><br />
          <form>
            <textarea
              name="cuerpo_tex"
              id="cuerpo_tex"
              cols="50"
              rows="8"
              placeholder="Mensaje"
              oninput="cuerpoTexto()"
            ></textarea>
            <input type="color" id="color_cuerpo_tex" oninput="cuerpoTexto()" />
            <p>
              Elige un color de fondo:&nbsp;<input type="color" id="bcg_col" />
            </p>
          </form>
          <br />
          <section
            id="tarNav"
            name="tar_img"
            class="contenedorImg"
            style="display: hidden"
          >
            <p>
              <img
                src="img/Navidad_1.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Navidad_1')"
              />
              <img
                src="img/Navidad_2.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Navidad_2')"
              />
              <img
                src="img/Navidad_3.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Navidad_3')"
              />
            </p>
            <section>
              <a
                style="color: whitesmoke; font-size: 25px; cursor: pointer"
                id="mostrar_tarfelN"
                >Generar Tarjeta</a
              >
            </section>
          </section>
          <section id="tarHall" name="tar_img" class="contenedorImg">
            <p>
              <img
                src="img/Halloween_1.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Halloween_1')"
              />
              <img
                src="img/Halloween_2.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Halloween_2')"
              />
              <img
                src="img/Halloween_3.jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Halloween_3')"
              />
            </p>
            <section>
              <a
                style="color: whitesmoke; font-size: 25px; cursor: pointer"
                id="mostrar_tarfelH"
                >Generar Tarjeta</a
              >
            </section>
          </section>
          <section id="tarPro" name="tar_img" class="contenedorImg">
            <p>
              <img
                src="img/Programador (1).jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Programador (1)')"
              />
              <img
                src="img/Programador (2).jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Programador (2)')"
              />
              <img
                src="img/Programador (3).jpg"
                alt=""
                style="height: 280px; width: 280px; margin: 5px 5px"
                onclick="imgTarjeta('Programador (3)')"
              />
            </p>
            <section>
              <a
                style="color: whitesmoke; font-size: 25px; cursor: pointer"
                id="mostrar_tarfelP"
                >Generar Tarjeta</a
              >
            </section>
          </section>
          <hr />
        </article>

        <article id="encuestaPr" class="contenedor">
          <section class="formulario" id="survey" style="color: whitesmoke">
            <h1>Encuesta</h1>
            <div class="form-group">
              <h4>¿Te gusta programar?</h4>
              <label>SÍ </label>
              <input type="radio" v-model="fAnswer" value="Sí" />
              <label>NO </label>
              <input type="radio" v-model="fAnswer" value="no" />
            </div>
            <div v-if="fAnswer === 'Sí'">
              <div class="form-group">
                <h4>¿Cuánto llevas programando?</h4>
                <input
                  type="number"
                  class="form-control"
                  v-model="timeCoding"
                  min="0"
                  max="50"
                />
              </div>
              <div class="form-group" v-if="timeCoding < 2">
                <h4>¿Qué te motiva a programar?</h4>
                <textarea
                  cols="30"
                  rows="10"
                  class="form-control"
                  v-model="motivation"
                ></textarea>
              </div>
              <div class="form-group" v-else>
                <h4>Cuéntanos tu experiencia programando</h4>
                <textarea
                  cols="30"
                  rows="10"
                  class="form-control"
                  v-model="experience"
                ></textarea>
              </div>
              <div class="form-group">
                <h4>
                  ¿Cuántos lenguajes de programación conoces? | Captura uno a
                  uno
                </h4>
                <input
                  type="text"
                  v-model="codingLanguage"
                  class="lang"
                  @keyup.enter="add()"
                />
                <button class="btn btn-info" @click="add()">
                  Agregar Lenguaje: {{nLanguages}}
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-info" @click="confirm()">
                  Capturar
                </button>
              </div>
            </div>
            <div v-else>
              <h2>Gracias por apoyarnos</h2>
            </div>
            <div class="form-group" v-if="showSummary == true">
              <h4>¿Le gusta programar?</h4>
              <p>{{fAnswer}}</p>
              <h4>¿Cuánto llevas programando?</h4>
              <p>{{timeCoding}} años</p>
              <div class="form-group" v-if="timeCoding < 2">
                <h4>¿Qué le motiva a programar?</h4>
                <p>{{motivation}}</p>
              </div>
              <div class="form-group" v-else>
                <h4>Su experiencia programando:</h4>
                <p>{{experience}}</p>
              </div>

              <h3>Lenguajes de programación que conoce:</h3>
              <ul>
                <li v-for="(codeLang, index) in codingLanguages" :key="">
                  {{codeLang}}
                </li>
              </ul>
            </div>
          </section>
        </article>

        <article id="gimnasio" class="contenedor">
          <section id="stock" style="color: whitesmoke">
            <div class="row">
              <div class="col-6 offset-4">
                <fieldset class="formulario">
                  <legend>Nuevo producto</legend>
                  <div class="form-group">
                    <label>Nombre del producto</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="newProductName"
                    />
                    <label>Cantidad</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="newProductQuantity"
                    />
                    <label>Precio</label>
                    <input
                      type="number"
                      class="form-control"
                      v-model="newProductPrice"
                      @keyup.enter="add()"
                    />
                  </div>
                  <div class="form-group text-center m-3">
                    <button class="btn btn-info" @click="add()">Agregar</button>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="m-lg-4">
              <fieldset>
                <legend>Producto: {{numProducts}}</legend>
                <table class="table table-dark table-striped">
                  <tbody>
                    <tr
                      v-for="product in products"
                      :class="{zero: product.totalPrice==0}"
                    >
                      <th>
                        <div class="input-group sm-6">
                          <button
                            class="btn btn-info b"
                            @click="product.productQuantity--; recalculate()"
                            :disabled="product.productQuantity == 0"
                          >
                            -
                          </button>
                          <input
                            type="number"
                            class="form-control q"
                            v-model="product.productQuantity"
                            @keyup="recalculate()"
                          />
                          <button
                            class="btn btn-info b"
                            @click="product.productQuantity++; recalculate()"
                          >
                            +
                          </button>
                        </div>
                      </th>
                      <td>{{product.productName}}</td>
                      <td v-if="product.totalPrice>0">
                        ${{product.singlePrice}}
                      </td>
                      <td v-if="product.totalPrice>0">
                        ${{product.totalPrice}}
                      </td>
                      <td colspan="2" v-else class="text-center font">
                        SIN STOCK
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <th>Subtotal:</th>
                      <td>${{subtotal}}</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <th>IVA</th>
                      <td>${{iva}}</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <th>Total</th>
                      <td>${{total}}</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>
          </section>
        </article>

        <article id="cafeteria" class="contenedor" style="color: whitesmoke;">
          <section class="container-fluid">
            <figure style="background-color: rgb(255, 255, 255); border-radius: 15px;">
              <img src="img/LogoCubic.png" alt="">
            </figure>
            <div>
              <div>
                <section id="content">
                      <div class="text-center">
                        <form>
                          <h1>Menú</h1>
                          <div class="form-group row">
                            <div class="col-6">
                              Nombre del producto
                              <input
                                type="text"
                                class="form-control input-card"
                                v-model="toSearch"
                                @keyup="validateSearchText()"
                              />
                            </div>
                            <div class="col-6">
                              Precio máximo
                              <input
                                type="number"
                                min="0"
                                max="200"
                                class="form-control input-card"
                                v-model="maximum"
                              />
                              <br />
                            </div>
                          </div>
                        </form>
                      </div>
                          <div class="servicio-cont">
                            <div
                              v-for="drink in searchProduct"
                              :class="notAvailableCard(drink.isAvailable)"
                            >
                              <div class="imagen-port">
                                <img v-bind:src="drink.img" alt="" style="border: solid 5px rgb(0, 0, 0);"/>
                                <div
                                  class="hover-galeria"
                                  @click="addWishlist(drink.name); appear()"
                                >
                                  <p>{{drink.name}}</p>
                                  <h1
                                    v-if="drink.isAvailable == false"
                                    class="not"
                                  >
                                  <strong>NO DISPONIBLE</strong>
                                  </h1>
                                  <p>
                                    <strong>Tamaño:</strong> {{drink.size}}
                                  </p>
                                  <p >
                                    <strong>Ingredientes:</strong>
                                    {{drink.ingredients}}
                                  </p>
                                  <span><strong>${{drink.price}}.00</strong></span>
                                </div>
                              </div>
                            </div>
                          </div>
                </section>
              </div>
            </div>
          </section>
          <br />

          <br />
          <section id="wishlist">
            <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Lista de Deseados - {{count}}
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered bg-dark">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Productos: {{count}}
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-12">
                    <section id="wishlist">
                      <div class="wislist">
                        <h1 class="text-center">Lista de Deseados</h1>
                        <ul style="list-style: none">
                          <hr>
                          <li v-for="drink in wishlist">
                            {{drink.name}} - ${{drink.price}}
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Salir
                  </button>
                </div>
              </div>
            </div>
          </div>
          </section>          
        </article>
      </div>
    </div>

    <footer>
      <h6>Realizado Por: Martínez Galván Diego Eduardo</h6>
    </footer>
    <script src="js/funcionalidad.js"></script>
  </body>
</html>
